html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}

.imgcentro {
  align-items: center;
}




body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav {
  background-color: #555;
  padding: 10px;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px;
}
section {
  padding: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  margin: 0px;
  text-align: center;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.copyright {
  margin-top: 10px;
}