
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b8f4d5;
    color: #8a2be2;
}

header {

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.section {
    margin-bottom: 40px;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.sport-list {
    list-style: none;
    padding: 0;
}

.sport-list li {
    margin-bottom: 10px;
}

footer {
    background-color: #8a2be2;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
