.body{
    background: #D3CCE3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E9E4F0, #D3CCE3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);

}

.body{
    
        margin: 0;
        padding: 0;
        background: url(https://img.freepik.com/vector-gratis/fondo-tecnologia-digital-alambre-malla-red_1017-27428.jpg);   
        background-size: 100% 100%;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }


.section1{
    text-align: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Centrar horizontalmente los elementos */
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 30px;
    transition: background-color 0.3s ease;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  nav ul li a:hover {
    background-color: #0056b3;
  }

   /* Estilos para el footer */
   footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }

  .footer-link {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
  }

  .footer-social {
    margin-top: 10px;
  }

  .footer-social a {
    display: inline-block;
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: background-color 0.3s ease;
  }

  .footer-social a:hover {
    background-color: #0056b3;
  }
  .footer-social .fab {
    font-size: 24px; 

}
.footer{
  color: rgb(255, 255, 255);
}